<?xml version="1.0" encoding="UTF-8"?>
<!-- 路径：web/WEB-INF/ -->

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- 分类Service -->
    <bean id="catService" class="cc.cateyes.service.impl.CatServiceImpl">
        <property name="catDAO" ref="catDAO" />
    </bean>
    <!-- 图片Service -->
    <bean id="picService" class="cc.cateyes.service.impl.PicServiceImpl">
        <property name="picDAO" ref="picDAO" />
    </bean>
    <!-- 管理员Service -->
    <bean id="adminService" class="cc.cateyes.service.impl.AdminServiceImpl">
        <property name="adminDAO" ref="adminDAO" />
    </bean>
    <!-- 用户行为Service -->
    <bean id="userActService" class="cc.cateyes.service.impl.UserActServiceImpl">
        <property name="userActDAO" ref="userActDAO" />
    </bean>

</beans>
